* {
    box-sizing: border-box;
  }
  
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  
  .card {
    float: left;
    margin: 10px;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(circle at bottom center, rgb(248, 160, 158),rgb(136, 31, 164));
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
  }
  
  .card:hover {
    cursor: pointer;
    border: 3px solid #5B136E;
  }
  
  .card p {
    font-size: 48px;
    color: #5B136E;
  }
  h1 {
      color: #5B136E
  }